body {
  background-color: #4b3f72;
}
nav{
  background-color: #4b3f72;
  filter: brightness(95%);
  margin: 0px;
}
.navbar{
  margin: 0;
}
li.in-line {
  padding-top: 6px;
  display: inline-flex;
}
label {
  font-style: italic;
  color: #ffc857;
}
h1.titulo{

  font-family: 'Segoe UI';
  font-style: inherit;
  color: #ffffff;
  text-align: center;
  
}


h1.inicio {
  color: #ffc857;
}

h1.inverse ,.plato{

  font-family: 'Segoe UI';
  font-style: inherit;
  color: #4b3f72;
  text-align: center;
  margin: 80px 80px 30px 0px;
  
}


h1.sub-blanco,h2.sub-blanco, h2.sub-inverse{
  font-family: 'Segoe UI';
  font-style: inherit;
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  
}
h2.sub-inverse{
  text-align: justify;
  font-weight: 430;
  margin: 30px;
  padding: 30px;
}
h1.sub-blanco{

  font-size: 26px;
}

h2.sub-inverse{
  color: #4b3f72;
  text-align: justify;
  font-style: italic;
  margin: 0px 80px 0px 30px;
  
}
h2 {
  font-family: Helvetica;
  font-style: italic;
  color: #ffffff;
  text-align: left;
}
h2.centrar {
  text-align: center;
}
h2.amarillo{
  font-family: 'Segoe UI';
  font-style: inherit;
  color: #ffc857;
  text-align: center;

}
h3.objeto {
  font-size: 25px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  border: #1f2041;
  text-shadow: 2px 2px 4px #000000;
}
.row{
  width: 100%;
}
p.objeto {
  font-size: 18px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 800;
  color: #ffffff;
  border: #1f2041;
  text-shadow: 2px 2px 4px #000000;
}


span,
a {
  color: white;
}
button.boton,
a.button,
a.buttonInverse {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bolder;
  color: #ffffff;
  background-color: #ffc857;
  font-size: 20px;
}

a.buttonInverse {
  background-color: #ffffff;
  color: #ffc857;
}
.numero {
  text-align: center;
  display: block;
  margin: 0 auto;
}


.col-center{
  float: none;
  margin-left: auto;
  margin-right: auto;
 
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  max-width: 100%;
  height: 450px;
  padding: 15px;
 
}
img.image{

  border-radius: 35px;
  padding: 30px;
  object-fit: cover;
  filter: brightness(85%);
  cursor: pointer;
}
.background{

  width: 100%;
  max-height: 10em;
  padding: 0;
  box-shadow: 5px 10px 18px #1f2041;

  
}
.row-background{

  background-color: #4b3f72;
}


img.background{
  width: 100%;
  object-fit: cover;
  filter: blur(1.5px);
  max-height: 700px;
  position: absolute;
}
.image:hover {
  filter: brightness(100%);
  animation: burbuja 1.3s infinite alternate;
}
@keyframes burbuja {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.03);
  }
}

.carousel-caption:hover {
  filter: saturate(50%);
}

img.icon{
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 40px;


}

.total {
  font-size: large;
  font-weight: bold;
  font-family: Helvetica;
  color: #ffc857;
  text-align: left;
  padding-left: 50px;
}

.row-2{

  background-color: #ffffff;

}


.div-banner{

  max-width: 700px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
  text-align: center;

}

div.plato{
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 400px;
  box-shadow: 0px 42px 42px rgba(0, 0,0,0.2);

}

img.banner{
text-align: center;
  object-fit: cover;
  filter: brightness(85%);
  cursor: pointer;
  border-radius: 20px;

}
